@use 'bootstrap/scss/bootstrap.scss';
@use './partials/common';
@use './partials/variables' as *;
@use './partials/header';
@use './partials/main';
@use './partials/footer';
@use './partials/mainCard';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: $light;
}