@use './partials/variables' as *;

@use '../../../node_modules/bootstrap/scss/bootstrap.scss';

body {
	background-color: $light;
}

header {
	background-color: $primary_color;
	text-align: center;

	>img {
		width: 300px;
	}

}