//@use 'bootstrap';
@use './partials/common';
@use './partials/variables' as *;
@use './partials/header';
@use './partials/main';
@use './partials/footer';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: $light;
}

header {
	background-color: $primary_color;
	text-align: center;

	img {
		width: 500px;
	}

}