@use '../partials/variables' as *;


.info_card_screen {

	position: relative;
	text-align: center;



	.contenitore {
		background-color: $primary_color;
		opacity: 90%;
		position: fixed;
		width: 600px;
		height: 350px;
		top: 30%;
		left: 40%;
		z-index: 1;
		padding: 2rem;
		border-radius: 1rem;


	}

	.colonna {
		display: flex;
		justify-content: space-between;
		color: white;
	}

	.colonna_interna {
		display: flex;
		padding: 3rem;


		.box_interno {
			display: flex;
			flex-direction: column;
			justify-content: left;
			text-align: left;
			color: white;
			gap: 0.5rem;


		}

		.img_info {
			width: 150px;
			padding-right: 3rem;
		}

	}
}