@use '../partials/variables' as *;

header {
	color: $light;
	background-color: $primary_color;




	.logo {
		width: 120px;
	}

	.no-link {
		text-decoration: none;
		color: var(--boolando-wite);
	}


}